{% extends "layout.html" %}

{% block content %}

<script>
    function searchForAttendees() {
    // Get the input value
    let input = document.getElementById('searchInput').value.toLowerCase();
    
    // Get the table and all rows
    let table = document.getElementById('attendees');
    let rows = table.getElementsByTagName('tr');
    
    // Loop through all rows (except the header)
    for (let i = 1; i < rows.length; i++) {
        let firstCol = rows[i].getElementsByTagName('td')[0].textContent.toLowerCase();
        let secondCol = rows[i].getElementsByTagName('td')[1].textContent.toLowerCase();

        // Check if the input value matches any part of the first or second column
        if (firstCol.includes(input) || secondCol.includes(input)) {
            rows[i].style.display = ''; // Show the row
        } else {
            rows[i].style.display = 'none'; // Hide the row
        }
    }
}
</script>

<h1>Future-Law</h1>
<h3>{{ event_name }}</h3>
<a href="/reload_all_attendees" class="btn btn-info" role="button">Reload all attendees</a>
<br>

<p>This screen can be used to re-print attendees who are in Eventrbite and already checked-in but need to be printed again. DO NOT USE FOR CHECKIN.</p>

<input placeholder="Search..." id="searchInput" onkeyup="searchForAttendees()" style="margin: 20px 0; width: 100%; padding: 10px 0 10px 10px;">    

<table id="attendees" style="width: 100%;">
    <tr bgcolor="#d3d3d3">
        <th>First Name</th>
        <th>Surname</th>
        <th>Badges Printed</th>
        <th>Print</th>
    </tr>
    
    {% for attendee in attendees %}
        {% if attendee.badges_printed %}
            <tr bgcolor="#c4fc9f">
        {% else %}
            <tr>
        {% endif %}
            <td>{{ attendee.first_name }}</td>
            <td>{{ attendee.surname }}</td>
            <td id="badges-printed-{{ attendee.attendee_id }}">{{ attendee.badges_printed | count }}</td>
            <td><button id="print_buton" data-id="{{attendee.attendee_id}}" class="btn btn-info"
                        onclick="printBadge({{attendee.attendee_id}})" value="val_1" name="but1">Print Badge
                </button></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}